{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container col-xl-8 col-xxl-6 px-4 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h3 class="display-5 fw-bold mb-4">{% trans "Sign Out" %}</h3>

            <p class="fs-4 mb-4">{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}" class="d-flex justify-content-center">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary btn-lg me-2" type="submit">{% trans 'Sign Out' %}</button>
                <a href="{% url 'blog:index' %}" class="btn btn-outline-secondary btn-lg">{% trans 'Cancel' %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}