asgiref==3.8.1
cloudinary==1.36.0
crispy-bootstrap5==2024.2
dj-database-url==2.2.0
dj3-cloudinary-storage==0.0.6
Django==4.2.15
django-allauth==64.2.1
django-crispy-forms==2.3
django-summernote==0.8.20.0
gunicorn==23.0.0
psycopg2==2.9.9
sqlparse==0.5.1
urllib3==1.26.20
whitenoise==6.7.0
