body {
    font-family: 'Verdana', sans-serif !important;
}

.fas.fa-heart.liked {
    color: #ff0000;
}

.far.fa-heart {
    color: #808080;
}

.card {
    margin: auto;
}

.errorlist {
    background-color:#ff0000;
    color: #f3f6f4;
    border-radius: 5px !important;
    list-style-type: none;
}