{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <!-- Hero Section -->
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">Iceland: An Epic Roadtrip Adventure</h1>
        <div class="col-lg-9 mx-auto">
            <p class="lead mb-4">
                Join us as we explore the stunning landscapes and hidden gems of Iceland.
                From majestic waterfalls and geysers to breathtaking glaciers and volcanic formations,
                our roadtrip offers a journey through one of the most unique and beautiful places on Earth.
                Discover the magic of Iceland with us and get inspired for your own adventure!
            </p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{% static 'images/car.webp' %}" class="img-fluid border rounded-3 shadow-lg mb-4"
                    alt="tentcar" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <!-- Blog Cards -->
    <div class="row justify-content-sm-center">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.publish | date:"F j, Y" }} by
                        {{ post.author }}</h6>
                    <div class="card-text">{{ post.excerpt|safe }}</div>
                    <a href="{% url 'blog:post_detail' post.slug %}" class="card-link">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container text-center">
    <!-- Pagination Controls -->
    <div class="pagination mt-4  justify-content-sm-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}